﻿@model QuestionViewModel
@{
    ViewData["Title"] = "Question";
}

<div class="row">
    <div class="row">
        <div class="col-md-3">
            <h3>@Model.item.Name</h3>
            <h5>@Model.item.Text</h5>
        </div>
        <div class="col-md-3">
            @foreach (var item in Model.responses)
            {
                <div class="row">
                    <div class="col-md-3">
                        <button value="@item.Correctness" onclick="answer()">@item.Text</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function answer() {
        if (this.value == "true") alert("Correct");
        else alert("Wrong");
    }
</script>