﻿@model SurveyManager.DataAccessLayer.Survey
@{
    ViewData["Title"] = "Feedback Manager";
}

<div class="row">
    <div class="row">
        <div class="col-md-3">
            <h2>@Model.Name</h2>
        </div>
        <div class="col-md-3">
            <h4>Created: @Model.CreatedDate</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>@Model.CreatorName</h4>
        </div>
        <div class="col-md-3">
            <a asp-action="Question" asp-route-id="@Model.Id">Go</a>
        </div>
    </div>
    <hr />
</div>