﻿@model SurveyManager.DataAccessLayer.Survey
@{
    ViewData["Title"] = "Feedback Manager";
}
<h4>Create Survey</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateSurvey">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text" class="control-label"></label>
                <input asp-for="Text" class="form-control" />
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatorName" class="control-label"></label>
                <input asp-for="CreatorName" class="form-control" />
                <span asp-validation-for="CreatorName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
