﻿@model SurveyListViewModel
@{
    ViewData["Title"] = "Feedback Manager";
}
<div class="row text-center">
    <h2>@ViewData["Title"]</h2>
</div>
<div class="row">
    <div class="col-md-offset-3">
        <a asp-action="CreateSurvey">Create Survey</a>
    </div>
</div>
@if(Model != null)
{
    @if(Model.items.Any())
    {    
        @foreach (var item in Model.items)
        {
            @await Html.PartialAsync("../Partial/_Surveys.cshtml", item);
        }
    }
}