﻿@model SurveyViewModel
@{
    ViewData["Title"] = Model.item.Name;
}
<div class="row text-center">
    <h2>@ViewData["Title"]</h2>
</div>
<div class="row text-center">
    <h4>@Model.item.Text</h4>
</div>
<div class="row">
    <div class="col-md-offset-3">
        <a asp-action="CreateQuestion">Create Question</a>
    </div>
</div>
@if (Model != null)
{
    @if (Model.questions.Any())
    {
        @foreach (var item in Model.questions)
        {
            @await Html.PartialAsync("../Partial/_Questions.cshtml", item);
        }
    }
}
